/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Ignorar todos los archivos dentro de public/uploads y subcarpetas
/public/uploads/**

# Pero permitir las carpetas (para que se suban con .gitkeep)
!public/uploads/
!public/uploads/**/
